* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.topnav {
  padding-left: 80px;
  padding-right: 80px;
}
.menu {
  margin-left: 130px;
}
.tabs {
  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tab {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  height: 54px;
  text-align: center;
  border-radius: 35px;
  padding-left: 52px;
  padding-right: 52px;
  background-color: #ededed;
  color: #212121;
  font-weight: 600;
}
.card-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.active{
  background-color: #212121;
  color: #ededed;
}
.banner-titles {
  margin-top: 70px;
  height: 100px;

  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.left {
width: 50%;

/* text-align: center; */
}
.right {
 
}
.App {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 80vw;
}
.ex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.expbtn {
  height: 30px;
  background-color: black;
  color: white;
  width: 300px;

  border-radius: 20px;
}
.shopnow {
  width: 100%;
  margin-top: 20px;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fafafa;
}
.collection-heading {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  flex-direction: row;
}
.allcoll {
  height: 40px;
  width: 100px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  border-radius: 40px;
}
.collection-grid {
  padding-left: 100px;
  display: flex;
  margin-top: 30px;
  flex-direction: row;
}
.collection-one {
  height: 400px;
  width: 400px;
  border-radius: 10px;
  /* background-color: #EDEDED; */
  background-image: url(./Assets/hoodie.png);
  background-size: cover;
}
.collection-two {
  height: 200px;
  width: 900px;
  border-radius: 10px;
background-color: #F3F3F3;
  background-image: url(./Assets/1\ \(3\).png);
  margin-left: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.collectionro {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.collection-three,
.collection-four {
background-color: #F3F3F3;

  width: 435px;
  height: 180px;
  /* background-color: antiquewhite; */
  margin-left: 30px;
  border-radius: 10px;
  background-size: cover;
}
.collection-three {
  background-image: url(./Assets/1\ \(2\).png);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.collection-four {
  background-image: url(./Assets/1\ \(1\).png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.coll-one {
  background-color: black;
  color: white;
  width: 171px;
  height: 54px;
  border-radius: 30px;
  margin-top: 330px;
  margin-left: 30px;
}
.coll-two {
  background-color: black;
  color: white;
  width: 150px;
  height: 45px;

  border-radius: 30px;
  margin-top: 120px;
  margin-left: 30px;
}
.coll-three {
  background-color: black;
  color: white;
  width: 159px;
  height: 45px;

  border-radius: 30px;
  margin-top: 120px;
  margin-left: 30px;
}
.coll-four {
  background-color: black;
  color: white;
  width: 159px;
  height: 45px;
  border-radius: 30px;
  margin-top: 120px;
  margin-left: 30px;
}
.grabDealsection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.grabDeal {
  height: 479px;
  width: 970px;
  border-radius: 10px;
  text-align: center;
  background-color: antiquewhite;
  background-image: url(./Assets/Rectangle\ 24.png);
  background-size: cover;
}
.grabDeal h2 {
  font-weight: 800;
  margin-top: 50px;
}
.grabDeal button {
  background-color: black;
  color: white;
  width: 185px;
  height: 54px;
  border-radius: 30px;
  margin-top: 50px;
}
.review {
  background-color: #fafafa;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  margin-top: 50px;
}
.reviewcard{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.re-card {
  height: 214.49px;
  width: 383.43px;
  padding: 10px;
  margin-top: 40px;
  /* background-color: aqua; */
  border: 1px solid rgb(223, 220, 220);
  border-radius: 10px;
  background-color: white;
}
.review-img{
  height: 90px;
  width: 90px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  
}
.review-top{
  height: 100px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
}
.review-top p{
margin-left: 20px;
}

.msgs{
  background-color: #212121;
  border-radius: 20px;
  color: #EEEEEE;
  margin-top: 10px;
  padding: 10px;
  font-size: 12px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tabs {
  margin-top: 80px;
  margin-bottom: 30px;
}
.nav {
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #1b1b1b;
}
.navbar {
  display: flex;
  width: 100vw;
  padding-left: 110px;
  padding-right: 115px;
  flex-direction: row;

  /* align-items: center; */
  /* justify-content: space-between; */
}
.searchbar {
  height: 53px;
  width: 600px;
  border-radius: 30px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchbar input {
  width: 200px;
  background: none;
  border: none;
  margin-left: 20px;
}
.cart {
  color: white;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider-one {
  height: 100vh;
  width: 100vw;
  padding: 100px;
  background-image: url(./Assets/image\ 2.png);
  color: white;
}
.slider-one h1 {
  font-weight: 800;
}
.slider-one p {
  margin-top: 30px;
  font-weight: 500;
}
.slider-one button {
  height: 54px;
  width: 185px;
  border: none;
  border-radius: 40px;
  font-weight: 600;
  margin-top: 50px;
}
.logo {
  font-weight: 800;
  color: white;
}
.products{
  display: flex;
flex-direction: row;
  justify-content: space-between;
  margin-bottom: 80px;
}
.product-card{
  height: 400px;
  width: 275px;

  display: flex;
flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 50px;
}
.product-title{
  margin-top: 20px;

}
.product-img img{
  border-radius: 10px;
}
.product-img{
  height: 70%;
  background-color: #F3F3F3;
  border-radius: 10px;

}
.product-details{
  height: 15%;
 

}
.product-title{
  display: flex;
  justify-content: space-between;
}
.marquee-box{
  height: 360px;
  width: 100vw;
 margin-top: 30px;
 
}
.scrolling-container {
  width: 100%;
  overflow: hidden;
}

.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  animation: scrollText 50s linear infinite;
  display: flex;
 flex-direction: row;
}
.marquee-img{
  margin-left: 30px;
}
.marquee-slider{
  height: 346px;
  width: 570px;
 
  background-image: url(./Assets/Rectangle\ 16.png);
  margin-left: 30px;
}
.marquee-slider p{
  font-size: 32px;
  font-weight: 600;
  /* display: flex;
  justify-content: center;
  align-items: center; */

}
.marquee-slider1{
  background-image: url(./Assets//Rectangle\ 17.png);
}

@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.explore{
  height: 54px;
  width: 283px;
  background-color: #212121;
  color: #EEEEEE;
  border-radius: 30px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.shop-marquee{
  width: 100vw;
  height: 80px;
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.svg-shop{
 height: 40px;
}
.footer{
  height: 250px;
  background-color: #2D2D2D;
  margin-top: 50px;
  border-radius: 20px 20px 0 0;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  
}
.footer-cont{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.footer-cont ul{
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
li{
  text-decoration: none;
  list-style: none;
}
.footer-cont h2{
  font-weight: 700;
}
.input-section{
  height: 50px;
  width: 300px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}
.newsletter{
  margin-top: -50px;
}
.input-section input{
  border: none;
}